appdirs             
appnope             
asttokens           
backcall            
backports           
backports.functools_lru_cache
brotli              
brotli-bin          
brotlipy            
bzip2               
ca-certificates     
catalogue           
certifi             
cffi                
charset-normalizer  
click               
colorama            
comm                
commonmark          
confection          
contourpy           
cryptography        
cycler              
cymem               
cython-blis         
dataclasses         
debugpy             
decorator           
executing           
fonttools           
freetype            
future              
idna                
importlib-metadata  
importlib-resources 
importlib_metadata  
importlib_resources 
ipykernel           
ipython             
jedi                
jinja2              
joblib              
jpeg                
jupyter_client      
jupyter_core        
kiwisolver          
langcodes           
lcms2               
lerc                
libblas             
libbrotlicommon     
libbrotlidec        
libbrotlienc        
libcblas            
libcxx              
libdeflate          
libffi              
libgfortran         
libgfortran5        
liblapack           
libopenblas         
libpng              
libsodium           
libsqlite           
libtiff             
libwebp-base        
libxcb              
libzlib             
llvm-openmp         
markupsafe          
matplotlib          
matplotlib-base     
matplotlib-inline   
munkres             
murmurhash          
ncurses             
nest-asyncio        
nltk                
numpy               
openjpeg            
openssl             
packaging           
pandas              
parso               
pathy               
pexpect             
pickleshare         
pillow              
pip                 
platformdirs        
pooch               
preshed             
prompt-toolkit      
psutil              
pthread-stubs       
ptyprocess          
pure_eval           
pycparser           
pydantic            
pygments            
pyopenssl           
pyparsing           
pysocks             
python              
python-dateutil     
python_abi          
pytz                
pyzmq               
readline            
regex               
requests            
rich                
scikit-learn        
scipy               
setuptools          
shellingham         
six                 
sklearn             
smart_open          
spacy               
spacy-legacy        
spacy-loggers       
srsly               
stack_data          
thinc               
threadpoolctl       
tk                  
tornado             
tqdm                
traitlets           
typer               
typing-extensions   
typing_extensions   
unicodedata2        
urllib3             
wasabi              
wcwidth             
wheel               
xorg-libxau         
xorg-libxdmcp       
xz                  
zeromq              
zipp                
zstd                